<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>paradoxc</title>
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static',filename='styles/profile.css') }}">
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static',filename='styles/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>

  <header>
  <a href="{{url_for('main')}}">PARADOXC</a>

  <form>
    <input id="search" name="search" placeholder="Поиск по сайту..." />
  </form>
  <div class="profile">
    {% if logged_in == False %}
      <a href="{{url_for('registration')}}">Sing up</a>
    {% else %}
      <a href="{{ url_for('account', username=logged_in.name, logged_in=logged_in) }}">{{ logged_in.name }}</a>
    {% endif %}
  </div>



  {% if logged_in == False %}
  <div class="profile">
    <a href="{{url_for('login')}}">Login</a>
  </div>
  {% else %}
    <a class='create_post' href="{{ 'new_post' }}"> создать пост +</a>
  {% endif %}
</header>

<main>
  <div class="best_autors">
    <h4>Лучшие авторы</h4>
    <div>Superkrutoi</div>
    <div>vedma_elizabeth</div>
    <div>j_beloved_k</div>
    <div>I_am_the_best</div>
  </div>
  <div class="posts">
    <figure>
      <div class="author">
          <a href="{{ url_for('account', username=author.name, logged_in=logged_in) }}">{{ author.name }}</a>
      </div>
      <figcaption>
        <h3>
          {{ item.title }}
        </h3>
        <p>
          {{ item.content }}
        </p>
        <div class="metadata">
          <div class="upvotes">
            <i icon-name="chevron-up"></i>
            <span>{{ item.likes_count }}</span>
          </div>
        </div>
      </figcaption>
    </figure>
    </div>
    </figcaption>
 </main>
</body>
</html>